@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}



h1 {
    text-transform: capitalize;

}

.nav-bulle {
    margin-left: 0%;
    padding: 1%;
    /* margin-top: 190px; */
}



:root {
    font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}



.wrapper {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.grey {
    color: #999999;
}

.profile-top {
    height: 250px;
    width: 500px;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/22/19/17/buildings-1850129_960_720.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.profile-image {
    background-image: url("https://cdn.pixabay.com/photo/2019/11/03/20/11/portrait-4599553_960_720.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.profile-bottom {
    margin-top: 75px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-infos {
    display: flex;
    align-items: center;
    font-size: 28px;
    margin-bottom: 5px;
}

.name {
    font-weight: 700;
    margin-right: 15px;
}

.email {
    font-size: 14px;
    margin-bottom: 25px;
}

.ville {
    font-size: 20px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ville ion-icon {
    margin-right: 5px;
    color: #388eff;
}

.profile-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.stat-item:not(:last-child) {
    border-right: 1px solid black;
}

.stat {
    font-size: 20px;
    font-weight: 700;
}

.pl,
.pl__ball,
.pl__ball-inner-shadow,
.pl__ball-side-shadows,
.pl__ball-texture,
.pl__inner-ring,
.pl__outer-ring,
.pl__track-cover {
    border-radius: 50%;

}

.pl {

    position: relative;
    width: 12em;
    height: 12em;
    margin-top: 70px;
    margin-left: 1%;
    place-items: center;
}

.pl__ball,
.pl__ball-inner-shadow,
.pl__ball-outer-shadow,
.pl__ball-side-shadows,
.pl__ball-texture,
.pl__ball-texture:before,
.pl__inner-ring,
.pl__outer-ring,
.pl__track-cover {
    position: absolute;

}

.pl__ball,
.pl__ball-inner-shadow,
.pl__ball-outer-shadow,
.pl__ball-texture:before,
.pl__track-cover {
    animation: ball 3s linear infinite;
}

.pl__ball {
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
    transform: rotate(0) translateY(-6.5em);
    width: 2.5em;
    height: 2.5em;


    .pl__ball-inner-shadow {
        animation-name: ballInnerShadow;
        box-shadow:
            0 0.1em 0.2em hsla(0, 0%, 0%, 0.3),
            0 0 0.2em hsla(0, 0%, 0%, 0.1) inset,
            0 -1em 0.5em hsla(0, 0%, 0%, 0.15) inset;
        width: 100%;
        height: 100%;
        background-color: rgb(245, 5, 5);
    }
}

.pl__ball-outer-shadow {
    animation-name: ballOuterShadow;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.15), hsla(0, 0%, 0%, 0));
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    filter: blur(2px);
    top: 50%;
    left: 0;
    width: 100%;
    height: 250%;
    transform: rotate(20deg);
    transform-origin: 50% 0;
    z-index: -2;
}

.pl__ball-side-shadows {
    background-color: hsla(0, 0%, 0%, 0.1);
    filter: blur(2px);
    width: 100%;
    height: 100%;
    transform: scale(0.75, 1.1);
    z-index: -1;
}

.pl__ball-texture {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
}

.pl__ball-texture:before {
    animation-name: ballTexture;
    animation-duration: 0.25s;
    background: red 0 0 / 50% 100%;
    content: "";
    display: block;
    filter: brightness(1.05);
    top: 0;
    right: 0;
    width: 200%;
    height: 100%;
}

.pl__inner-ring {
    box-shadow:
        0 -0.25em 0.5em hsla(0, 0%, 100%, 0.4),
        0 0.5em 0.75em hsla(0, 0%, 100%, 0.4) inset,
        0 0.5em 0.375em hsla(0, 0%, 0%, 0.15),
        0 -0.5em 0.75em hsla(0, 0%, 0%, 0.15) inset;
    top: 2.375em;
    left: 2.375em;
    width: calc(100% - 4.75em);
    height: calc(100% - 4.75em);
}

.pl__outer-ring {
    box-shadow:
        0 -0.45em 0.375em hsla(0, 0%, 0%, 0.15),
        0 0.5em 0.75em hsla(0, 0%, 0%, 0.15) inset,
        0 0.25em 0.5em hsla(0, 0%, 100%, 0.4),
        0 -0.5em 0.75em hsla(0, 0%, 100%, 0.4) inset;
    top: 0.75em;
    left: 0.75em;
    width: calc(100% - 1.5em);
    height: calc(100% - 1.5em);
}

.pl__track-cover {
    animation-name: trackCover;
    background-image: conic-gradient(hsla(223, 90%, 95%, 1) 210deg, hsla(223, 90%, 95%, 0) 270deg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Animations */
@keyframes ball {
    from {
        transform: rotate(0) translateY(-6.5em);
    }

    50% {
        transform: rotate(180deg) translateY(-6em);
    }

    to {
        transform: rotate(360deg) translateY(-6.5em);
    }
}

@keyframes ballInnerShadow {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes ballOuterShadow {
    from {
        transform: rotate(20deg);
    }

    to {
        transform: rotate(-340deg);
    }
}

@keyframes ballTexture {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(50%);
    }
}

@keyframes trackCover {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}