body {
    margin: 0;
    padding: 0;
    background: black;
}

.formulaireI {
    border: solid 1px white;
    background-color: chocolate;
    text-align: center;

}

label {
    display: block;

    text-align: center;

}

#valider {
    display: block;
    margin-left: 800px;
}