body {
  width: 1600px;
  background-color: whitesmoke;
  margin: auto;
  height: auto;
}

header {
  background-color: #ffc1cc;
  font-size: 14px;
  top: 0%;
  left: 0%;
  padding: 0px 0px;
  width: 1600px;
  display: inline-block;
  margin-top: 0px;
}

.horizon {
  border-bottom: 1px solid black;
}

#logo {
  margin-left: 0px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

#searchbar {
  margin: 0px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.horizon ul li {
  display: block;
  float: right;
  margin-top: 0px;
}

.horizon a {
  text-decoration: none;
  margin: 250px;
  letter-spacing: 3px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 600px;
}

#logo #serchbar .horizon {
  display: inline-block;
  vertical-align: top;
}

/*--début de la barre verticale--*/
section {
  position: fixed;
  background-color: #ffc1cc;
}

.vertical li {
  padding-top: 0px;
  height: 10vh;
  list-style-type: none;
  width: 130px;
}

.vertical a {
  text-decoration: none;
  display: flex;
  justify-content: left;
}

.vertical {
  border-right: 1px solid black;
  height: 550px;
  display: inline-block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 10px;
  background-color: #ffc1cc;
}

textarea {
  padding: 10px;
  max-width: 30%;
  height: 500px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  margin-top: 10px;
  margin-left: 580px;
  margin-right: auto;
}

label {
  width: 100px;
  display: inline-block;
  align-items: center;
  justify-items: center;
}
