body {
    margin: 0;
    padding: 0;
    background-image: url('../background102.png');
    background-attachment: fixed;
}

.formulaireI {
    text-align: center;
}

label {
    display: block;
    text-align: center;
}

#valider {
    display: block;
    margin-left: 800px;
}